name: Build Flet APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # Removendo a versão específica para pegar a mais recente compatível

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet requests

      - name: Flet Build APK
        run: |
          # O segredo está no "yes |" que responde "sim" para todas as perguntas do terminal
          yes | flet build apk
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/*.apk
          - name: Flet Build APK
        run: |
          yes | flet build apk --include-permissions-android internet
